# Geral
TODO.md

# .NET Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDEs
.vscode/
.idea/

# DotCover
*.dotCover

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish results
**/publish/
**/out/

# User secrets
secrets.json

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Certificate
*.pfx
*.key

# Databases
*.db
*.sqlite

# EF Migrations snapshot
Migrations/*ModelSnapshot.cs

# JetBrains Rider
*.sln.iml

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Local tools
.tools/

# Docker
docker-compose.override.yml

# Node.js / Frontend
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
!.vscode/extensions.json
.DS_Store
*.ntvs*
*.njsproj
*.sw?

# Environment files
.env
.env.*